/* ---------imports--------- */

/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

/* resets */

* {
    margin: 0;
    padding: 0;
}

/* -----------elements--------- */

/* general */

body {
    font-family: "Source Sans Pro", sans-serif;
}

/* typography */

h2 {
    font-weight: 300;
    margin-bottom: 30px;
    color: #233c70;
}

.body-text {
    color: #7e7e7e;
    line-height: 27px;
    font-size: 19px;
}

/* badges */

.badge {
    background: #c0ffc0;
    color: green;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 40px;
    margin-bottom: 20px;
}

/* buttons */

.button-link {
    background: #008aff;
    color: white;
    padding: 15px 20px;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
}

/* navbar */

nav {
    display: flex;
    padding: 12px 16px;
}

#nav-logo {
    width: 50%;
}

#nav-logo img {
    padding: 0% 40% 0% 0%;
    width: 95px;
}

#nav-links {
    width: 50%;
    text-align: right;
}

#hamburger-icon {
    font-size: 33px;
    color: #7e7e7e;
    position: relative;
    top: -4px;
}

/* hero */

#hero {
    padding: 50px 20px;
    text-align: center;
}

#hero img {
    width: 100%;
    margin-bottom: 50px;
}

#blue-text {
    color: #008aff;
}

h1 {
    margin-bottom: 10px;
}

#blurb {
    font-size: 20px;
    color: #7e7e7e;
    line-height: 28px;
    margin-bottom: 20px;
}

/* feature section */

#feature-section {
    text-align: center;
    background: #fcfcfc;
    padding: 50px 20px;
}








/* ----------responsive media query/break points--------- */

/* tablet or large mobile */
@media only screen and (min-width: 768px) {

    /* typography */
    h1 {
        font-size: 45px;
    }

    /* nav */
    nav {
        padding: 40px 90px 0px 90px;
    }

    /* hero */

    #hero {
        /* flex properties */
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        /* other properties */
        text-align: left;
        padding: 60px 90px;

    }

    #hero-image-column,
    #hero-text-column {
        width: 50%;
    }

    #hero-text-column {
        display: inline-block;
        padding-right: 90px;
    }
}

/* laptop/desktop */
@media only screen and (min-width: 1024px) {}